# Ignorar arquivos de ambiente
.env

# Ignorar arquivos de configuração do ambiente virtual
venv/
*.pyc
__pycache__/

# Ignorar arquivos de log
*.log

# Ignorar dependências do Python
*.egg-info/
dist/
build/

# Ignorar arquivos temporários do editor
*.swp
*.swo
.DS_Store
.idea/
.vscode/

# Ignorar o arquivo de configuração de ambiente do VS Code
.vscode/

# Ignorar configurações locais específicas do editor (caso use o Visual Studio Code)
.vscode/
